<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
       [[${name}]]
       [[${tel}]]

        <h2>이력서 정보</h2>

        <form action="goInfo" method="post">

                <input type="hidden" name="name" th:value="${name}">
                <input type="hidden" name="tel" th:value="${tel}">
       
        학력 <br>
        <select name="grade">
                <option value="대졸">대졸</option>
                <option value="대학졸업예정">대학졸업예정</option>
                <option value="전문대졸">전문대졸</option>
                <option value="고졸">고졸</option>
        </select>
                <input type="text" name="schoolName" placeholder="학교명" > <br>
         
        지원구분 <input type="radio" name="support" value="신입" checked>신입
                <input type="radio" name="support" value="경력">경력 <br>

        자격정보 <br>
        <table>
        <tr>
        <td>자격증명</td>
        <td>취득일자</td>
        <td>발행기간</td>
        </tr>


        <tr>
        <td><input type="text" name="certiName"></td>
        <td><input type="date" name="certiDate"></td>
        <td><input type="text" name="certiAt"></td>
       </tr>
        </table> <br>

        경력정보 <br>
        <table>
         <tr>
        <td>회사명</td>
        <td>담당업무</td>
        <td>경력기간</td>
        </tr>


        <tr>
        <td><input type="text" name="company"></td>
        <td><input type="text" name="job"></td>
        <td><input type="text" name="year">년
            <input type="text" name="month">개월 </td>        
        </tr>
        </table> <br>
        
        자기소개<br>
        <textarea name="intro" cols="60" rows="3"></textarea><br>
        <input type="submit" value="등록">

</form>
</body>
</html>