<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{fragment/admin_layout}" >

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴때 같이 실행하는 css-->
    <!-- <link rel="stylesheet" href="/"> -->
</th:block>

<th:block layout:fragment="contentFragment">
    <!-- html 코드 작성 상품등록 페이지-->
    <div class="row">
        <div class="col-6">
                    <div style="height: 60px;">
                        <h2>상품을 등록하세요.</h2>
                    </div>
                <form action="/admin/regItem" method="post" enctype="multipart/form-data">
                        <div>
                            <label for="exampleFormControlInput1" class="form-label">카테고리명</label>
                            <select class="form-select" style="height: 50px; font-size:20px;" name="cateCode">
                                <option th:each="category :${categoryList}" th:value="${category.cateCode}" >[[${category.cateName}]]</option>                               
                            </select>    
                        </div>
            
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">상품명</label>
                            <input type="text" class="form-control" style="height: 50px; font-size:20px;" placeholder="상품명" name="itemName">
                        </div>

                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">상품가격</label>
                            <input type="text" class="form-control" style="height: 50px; font-size:20px;" placeholder="가격" name="itemPrice">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">상품소개</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" name="itemIntro" style="font-size:20px;"></textarea>
                        </div>

                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">상품 메인 이미지 </label>
                            <input type="file" class="form-control"  name="imgMain">                         
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">상품 상세 이미지</label>
                            <input type="file" class="form-control"  name="imgDetails" multiple>                         
                        </div>

                   
                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary" style="width:40%; font-size: 20px;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-back" viewBox="0 0 16 16">
                                    <path d="M0 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v2h2a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2v-2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1z"/>
                                </svg>
                                상품등록
                            </button> 
                        </div>
                        
                        
                    
                </form>
        </div>                         
    </div>        

</th:block>

<th:block layout:fragment="content_js">
    <!--html 파일이 열릴때 같이 실행하는 js-->
    <!-- <script src="/"></script> -->
</th:block>

</html>
