<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{fragment/personal_layout}">

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴때 같이 실행되는 css -->
    <!-- <link rel="stylesheet" href="/"> -->
</th:block>

<th:block layout:fragment="contentFragment">


    <!-- html 코드작성 -->
    <div class="row">
            <div class="col">
                
                <div class="row">
                    <table class="cart-list-table table table-striped table-hover text-center  align-middle">
                        <colgroup>
                            <col width="5%">
                            <col width="5%">
                            <col width="30%">
                            <col width="10%">
                            <col width="30%">
                            <col width="10%">
                            <col width="">
                        </colgroup>
                        <thead>
                            <tr>
                                <td>NO</td>
                                <td>
                                    <input id="chkAll" type="checkbox" class="form-check-input" onclick="checkAll()">
                                </td>
                                <td>상품정보</td>
                                <td>가격</td>
                                <td>개수</td>
                                <td>총가격</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <th:block th:if="${#lists.isEmpty(cartList)}">
                                <tr>
                                    <td colspan="7">장바구니가 비었습니다.</td>
                                </tr>
                            </th:block>

                         
                            <th:block th:unless="${#lists.isEmpty(cartList)}">
                                <tr th:each="cart, state : ${cartList}">
                                    <td>[[${#lists.size(cartList)-state.index}]]</td>
                                    <td>
                                        <input th:value="${cart.cartCode}" type="checkbox" class="form-check-input chk" onclick="setFinalPice()" checked>
                                    </td>
                                    <td>
                                        <div class="row align-items-center">
                                            <div class="col-4">
                                                <img width="80px" th:src="@{'/upload/' + ${cart.attachedFileName}}">
                                            </div>
                                            <div class="col-8">[[${cart.itemName}]]</div>
                                        </div>
                                    </td>
                                    <td class="total-price-span">[[${#numbers.formatCurrency(cart.itemPrice)}]]</td>
                                    <td>
                                        <div class="row">
                                            <div class="col-8">
                                                <input type="number" class="form-control" th:value="${cart.cartCnt}">
                                            </div>
                                            <div class="col-4 d-grid">
                                                <input type="button" class="btn btn-primary" value="변경" th:onclick="goChange(this,[[${cart.cartCode}]], [[${cart.itemPrice}]] )">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <!-- class 는 중복이 가능하지만 하나의 태그만 선택할수 없다  그래서 this를 써야하지만 사용하는 방법은 있음 -->
                                        <span class="totalPrice-span">[[${#numbers.formatCurrency(cart.totalPrice)}]]</span>
                                    </td>
                                    <td>
                                        <div class="row">
                                            <div class="col d-grid">
                                                <input type="button" class="btn btn-primary" value="삭제" th:onclick="deleteCart([[${cart.cartCode}]])">
                                            </div>
                                         </div>      
                                    </td>
                                </tr>     
                            </th:block>

                        </tbody>
                    </table>

                </div>
                <div class="row mb-3 mt-3">
                    <div class="col text-end">
                        <span class="h3">총 가격 : <span id="finalPrice-span"></span>원 </span>
                    </div>
                </div>
                <div class="row">
                    <div class="offset-5 col-1 d-grid">
                        <input type="button" class="btn btn-primary" value="선택 구매" onclick="buys()">
                    </div>
                    <div class="col-1 d-grid">
                        <input type="button" class="btn btn-primary" value="선택 삭제" onclick="deleteCarts()">
                    </div>
                </div>

            </div>
    </div>

</th:block>

<th:block layout:fragment="content_js">
    <!-- html 파일이 열릴때 같이 실행되는 js -->
   <script src="/js/content/cart/cart_list.js"></script> 

</th:block>
</html>