<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{fragment/user_layout}" >

<th:block layout:fragment="content_css">
    <!-- html 파일이 열릴때 같이 실행하는 css-->
   <!--<link rel="stylesheet" href="/">-->
</th:block>

<th:block layout:fragment="contentFragment">
    <!-- html 코드 작성-->
    상품목록화면!!

      <div class="row row-cols-5 g-4">

              <th:block th:each=" item : ${itemList}">
                <div class="col">
                    <div class="card" >
                        
                        <a th:href="@{/item/itemDetail(itemCode=${item.itemCode})}"><img th:src="@{'/upload/'+ ${item.imgList[0].attachedFileName}}" class="card-img-top" alt="..." name="isMain" ></a>
                            <div class="card-body">
                                <p class="card-text">[[${item.itemName}]]</p> 
                                <p class="card-text" >[[${#numbers.formatCurrency(item.itemPrice)}]]</p>                     
                            </div>
                    </div>
                </div>
              </th:block>
                        
      </div>

   
</th:block>

<th:block layout:fragment="content_js">
    <!--html 파일이 열릴때 같이 실행하는 js-->
  <!--<script src="/js/fragment/user_header"></script>-->
</th:block>
</html>