<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

        <input type="text" id="input1">
        <input type="button" value="버튼"  id="btn">

    <script>
        //이벤트 처리
        const btn= document.querySelector('#btn');
        
        
        btn.addEventListener('click',  function(){alert(111)});

        
        //btn.addEventListener('click',  function test(){alert(111)});
        //위 코드와 같은의미
        // btn.addEventListener('click', test());
        // function test() {
        //     alert(111);}


        //input 태그에 키보드로 값을 입력할때 마다
        //입력한 값을 consol에 출력 시키는 이벤트 코드를 작성.
        const input1=document.querySelector('#input1');
        input1.addEventListener('keyup',function(){
            console.log(input1.value);  
        })

    </script>
</body>
</html>