<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
<style>
    table{ width: 500px; border: 1px; border-collapse: collapse; }
    tr,td{border:1px solid black;  text-align: center; }
    
</style>
</head>

<body>
    
    <table >
        <tr>
            <td>아이디</td>
            <td>[[${join.id}]] </td>
            <td>이름</td>
             <td>[[${join.name}]]</td>
        </tr>

        <tr>
            <td>연락처</td>
            <td>
                <th:block th:each=" each : ${join.tel}">
                [[${each}]] 
                </th:block>
            </td>
            <td>이메일</td>
             <td>[[${join.email}]]</td>
        </tr>
        
        
        
        <tr>
            <td>생일</td>
            <td colspan="3">[[${join.birthday}]] </td>
                 
        </tr>
        
        
        <tr>
            <td>관심레슨</td>
            <td colspan="3"> 
                <th:block th:each="one : ${join.lesson}"> 
                    [[${join.lesson}]]
                </th:block>               
            </td>
        </tr>
        
        
        <tr class="self">
            <td>자기소개</td>
            <td colspan="3" style="height: 40px;">[[${join.intro}]]</td>
        </tr>

        
    </table>

  
    <input type="button"  value="뒤로가기" onclick="history.back()" > 
    <input type="submit"  value="회원등록" onclick="location.href='reg'" > 
    
     
    

</body>
</html>